<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ECS_existing" value="{&quot;ExposureChance&quot;:0.5,&quot;Type&quot;:&quot;RandomExposureControl&quot;,&quot;Name&quot;:&quot;existing&quot;,&quot;StartDate&quot;:&quot;2018-02-19T00:00:00&quot;,&quot;DurationInDays&quot;:100,&quot;id&quot;:null,&quot;Partition&quot;:&quot;All&quot;,&quot;RootEntityId&quot;:&quot;All&quot;}" />
    <add key="ECS_another" value="{&quot;ExposureChance&quot;:0.5,&quot;Type&quot;:&quot;RandomExposureControl&quot;,&quot;Name&quot;:&quot;another&quot;,&quot;StartDate&quot;:&quot;2018-02-19T00:00:00&quot;,&quot;DurationInDays&quot;:100,&quot;id&quot;:null,&quot;Partition&quot;:&quot;All&quot;,&quot;RootEntityId&quot;:&quot;All&quot;}" />
  </appSettings>
</configuration>